@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 80px !important;
    height: 80px !important; } }
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 80px !important;
    height: 80px !important; } }
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 80px !important;
    height: 80px !important; } }
@media (min-device-width: 411px) and (max-device-width: 731px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 90px !important;
    height: 90px !important; } }
@media (min-device-width: 435px) and (max-device-width: 773px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 100px !important;
    height: 100px !important; } }
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram img {
    width: 190px !important;
    height: 190px !important; } }
@media (max-width: 600px) {
  #content2 img {
    height: 250px !important; }

  #content2 .item img {
    height: 250px !important; }

  #content2 .carousel-control {
    height: 230px !important; }

  #content2 iframe {
    height: 250px !important; } }
@font-face {
  font-family: 'Acto Hairline';
  src: url("Acto-Hairline.eot");
  src: url("Acto-Hairline.eot?#iefix") format("embedded-opentype"), url("Acto-Hairline.woff") format("woff"), url("Acto-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
body {
  position: relative; }

#navbar {
  background: white;
  color: gray;
  height: 50px; }
  #navbar .panel {
    border-radius: 0; }
  #navbar ul {
    padding: 0;
    margin: 0; }
    #navbar ul li a {
      font-size: 15px;
      font-weight: bold; }
      #navbar ul li a span {
        font-size: 30px;
        font-weight: bold;
        color: #000; }
  #navbar .glyphicon {
    font-size: 30px;
    color: lightgray;
    float: right;
    margin: 10px 0; }

/*Header section*/
#header {
  background-size: cover;
  height: 700px;
  background-image: url(../images/image1.jpg); }
  #header .intro {
    position: relative;
    top: 300px;
    color: white;
    text-align: center; }
    #header .intro h2 {
      letter-spacing: 6px;
      text-transform: uppercase; }
    #header .intro p {
      text-transform: uppercase; }

#main {
  background: whitesmoke;
  /*let me show you a few things*/
  /*let me show you a few things*/ }
  #main .card {
    margin-top: 70px;
    border-radius: 0; }
    #main .card .fa-quote-left {
      color: lightgray;
      position: relative;
      top: -25px; }
    #main .card img {
      width: 100%; }
    #main .card .date {
      margin-top: 72px;
      font-family: 'Open Sans Condensed', sans-serif;
      color: silver; }
      #main .card .date .num {
        font-size: 80px;
        color: #333; }
      #main .card .date .slash {
        font-size: 70px; }
    #main .card h4 {
      text-transform: uppercase;
      text-align: left;
      font-family: 'Chewy', cursive; }
    #main .card b {
      font-family: 'Dancing Script', cursive; }
    #main .card .icons {
      text-align: left;
      color: #ddc; }
      #main .card .icons i {
        padding-right: 5px;
        color: silver; }
    #main .card p {
      text-align: left;
      font-family: 'Handlee', cursive;
      font-weight: 600;
      margin-top: 15px;
      text-transform: uppercase;
      color: silver;
      font-weight: bold; }
  #main .profile_card {
    margin-top: 70px;
    background-color: #fff;
    border-radius: 0; }
    #main .profile_card img {
      width: 100%; }
    #main .profile_card iframe {
      width: 100%; }
    #main .profile_card h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Chewy', cursive; }
    #main .profile_card p {
      color: silver;
      font-family: 'Handlee', cursive;
      text-transform: uppercase;
      color: silver;
      font-weight: bold; }
  #main .subscribe {
    color: silver;
    padding: 10px 10px; }
    #main .subscribe p {
      font-family: 'Handlee', cursive; }
    #main .subscribe i {
      padding: 0 5px;
      text-align: center; }
    #main .subscribe .fa-twitter {
      color: dodgerblue; }
  #main .lines .line1 {
    background: silver;
    width: 130px;
    height: 2px;
    position: relative;
    top: -23px;
    left: 127px; }
  #main .lines .line2 {
    background: silver;
    width: 65px;
    height: 2px;
    position: relative;
    top: -19px;
    left: 127px; }
  #main .lines .line3 {
    background: silver;
    width: 172px;
    height: 2px;
    position: relative;
    top: -23px;
    left: 81px; }
  #main .lines .line4 {
    background: silver;
    width: 86px;
    height: 2px;
    position: relative;
    top: -19px;
    left: 81px; }
  #main .lines .line5 {
    background: silver;
    width: 163px;
    height: 2px;
    position: relative;
    top: -23px;
    left: 90px; }
  #main .lines .line6 {
    background: silver;
    width: 80px;
    height: 2px;
    position: relative;
    top: -19px;
    left: 90px; }

.postcards img {
  height: 49.98px;
  width: 107.5px; }
.postcards .smallDate {
  color: silver;
  font-family: 'Open Sans Condensed', sans-serif; }
  .postcards .smallDate .num {
    color: #333;
    font-size: 35px; }
  .postcards .smallDate .slash {
    font-size: 35px;
    position: relative;
    top: 7px; }
  .postcards .smallDate .mon {
    position: relative;
    top: 7px; }
.postcards h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Chewy', cursive; }
.postcards a {
  color: silver; }

.archives ul {
  padding-left: 15px;
  margin: 0; }
.archives a {
  color: #000;
  text-decoration: none; }

.instagram {
  margin-top: 30px; }
  .instagram .boyPic {
    border-radius: 100%;
    width: 80px;
    height: 80px; }
  .instagram .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .instagram .flex-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
    .instagram .flex-items img {
      width: 80px;
      height: 80px;
      object-fit: fill; }

.hashtags {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start; }
  .hashtags li {
    padding: 7px;
    margin-right: 3px; }

.subscrible {
  text-align: center;
  background-image: url(../images/vv.jpg);
  background-size: cover; }
  .subscrible h2 {
    color: white;
    font-weight: bold; }
  .subscrible p {
    color: white;
    font-weight: bold; }
  .subscrible input {
    display: block;
    margin: auto;
    border: none; }
  .subscrible button {
    margin-top: 10px; }
  .subscrible .btn-primary,
  .subscrible .btn-primary:hover,
  .subscrible .btn-primary:active,
  .subscrible .btn-primary:visited,
  .subscrible .btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2; }

footer {
  height: 50px; }
  footer .footerTitle {
    text-align: center; }
    footer .footerTitle h3 {
      font-weight: bold;
      color: silver; }
  footer .icons {
    text-align: center;
    margin-top: 20px;
    color: silver; }
    footer .icons i {
      padding: 0 3px; }
    footer .icons .fa-twitter {
      color: dodgerblue; }
  footer p {
    color: silver;
    text-align: center;
    margin-top: 20px; }

#content {
  padding-top: 99px;
  background: whitesmoke; }
  #content img {
    width: 100%; }
  #content .main .date {
    font-family: 'Open Sans Condensed', sans-serif;
    color: silver; }
    #content .main .date .num {
      font-size: 80px;
      color: #333; }
    #content .main .date .slash {
      font-size: 70px;
      position: relative; }
  #content .main .icons {
    text-align: left;
    color: #ddc;
    font-family: 'Lato', sans-serif; }
    #content .main .icons i {
      padding-right: 5px;
      color: silver; }
  #content .main .hashtags {
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start; }
    #content .main .hashtags .thumbnail {
      padding: 0; }
    #content .main .hashtags li {
      background: whitesmoke; }
  #content .main h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato', sans-serif; }
  #content .main img {
    margin: 10px 0; }
  #content .main p {
    color: spacegray;
    font-family: 'Lato', sans-serif; }
  #content .lines .line1 {
    background: silver;
    width: 130px;
    height: 2px;
    position: relative;
    top: -23px;
    left: 110px; }
  #content .lines .line2 {
    background: silver;
    width: 65px;
    height: 2px;
    position: relative;
    top: -19px;
    left: 110px; }
  #content .lines .line3 {
    background: silver;
    width: 136px;
    height: 2px;
    position: relative;
    top: -23px;
    left: 117px; }
  #content .lines .line4 {
    background: silver;
    width: 68px;
    height: 2px;
    position: relative;
    top: -19px;
    left: 117px; }
  #content .comments {
    font-family: 'Lato', sans-serif; }
    #content .comments h5 {
      font-weight: bold;
      display: inline-block; }
    #content .comments span {
      color: silver; }
    #content .comments .socialmedia {
      color: silver; }
      #content .comments .socialmedia a {
        color: silver; }
      #content .comments .socialmedia .fa-heart:hover {
        color: crimson; }
      #content .comments .socialmedia .fa-reply:hover {
        color: dodgerblue; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.header span {
  font-size: 30px;
  font-weight: bold;
  color: #000; }
.header a {
  text-decoration: none; }

header {
  background-size: cover;
  margin-top: 49px;
  height: 300px;
  background-image: url(https://hd.unsplash.com/photo-1467348733814-f93fc480bec6); }

#content2 {
  background-size: cover;
  padding-top: 50px;
  height: auto;
  background-image: url(https://secure.static.tumblr.com/8234ed5586728cd084ec6250765d0607/jjd651b/cePn9her6/tumblr_static_mm.jpg); }
  #content2 img {
    height: 150px;
    width: 100%;
    object-fit: fill; }
  #content2 .fa-quote-left {
    color: lightgray;
    text-align: center; }
  #content2 h6 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Chewy', cursive; }
  #content2 .icons {
    text-align: center;
    color: #ddc; }
    #content2 .icons i {
      padding-right: 5px;
      color: silver; }
  #content2 .date {
    font-family: 'Open Sans Condensed', sans-serif;
    color: silver; }
    #content2 .date .num {
      font-size: 60px;
      color: #333; }
    #content2 .date .slash {
      font-size: 50px; }
  #content2 p {
    text-align: left;
    font-family: 'Handlee', cursive;
    margin-top: 15px; }
  #content2 b {
    font-family: 'Dancing Script', cursive; }

/*# sourceMappingURL=style.css.map */
